<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Sara Heymann, Cory Miljour, Helen Smith, Tamara Tangney, Jonathan Thompson">
    <meta name="description" content="NUCoding Bootcamp Project Two: Chicago Public Art App">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {{!--Analytics Script--}}
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-102058703-1', 'auto');
        ga('send', 'pageview');
    </script>

    {{!--Reset--}}
     <link rel="stylesheet" type="text/css" href="/assets/css/reset.css"> 

    {{!--Style--}}
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">

    {{!--Google fonts  --}}
    <link href="https://fonts.googleapis.com/css?family=Amiko" rel="stylesheet">

    {{!--Bootstrap CDN  --}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    {{!--jQuery CDN  --}}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <title>Chicago Public Art</title>

</head>
<body>
    
    {{{ body }}}

</body>
</html>