{{!--form to input data, we may want to put this on another page  --}}
    {{!-- <form ref='uploadForm' 
      id='uploadForm' 
      action='http://localhost:3000/upload' 
      method='post' 
      encType="multipart/form-data">
        <input type="file" name="image" />
        <input id= "formButton" type='submit' value='Upload!' />
    </form>      --}}

    {{!--on submit we need to generate a marker  --}}

<main>

    <div class="container">
        <div class="row">
            <form class="col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                    <label for="artistName">Artist Name</label>
                    <input type="text" class="form-control" id="artistNameInput" placeholder="Enter an Artist Name">
                </div>

                <div class="form-group">
                    <label for="artworkName">Artwork Name</label>
                    <input type="text" class="form-control" id="artworkNameInput" placeholder="Enter an Artwork Name">
                </div>

                <div class="form-group">
                    <label for="location">Artist Name</label>
                    <input type="text" class="form-control" id="locationInput" placeholder="Enter an Address" required="true">
                </div>

                <div class="form-group">
                    <label for="artDescription">Artist Name</label>
                    <input type="text" class="form-control" id="artDesriptInput" rows="10" placeholder="Enter a Brief Description" required="true">
                </div>
            </form>
        </div>

        <div class="row">
            <button type="submit" id="formButton" class="btn btn-success btn-lg">
                Submit Artwork
            </button>
        </div>
    </div>

    <div class="modal" id="submitModal">
        <div class="modal-header">
            <h2>Thank you for your submission to the Chicago Public Art Project</h2>
        </div>

        <div class="modal-content">
            <h4 id="modalArtName"></h4>
            <h4 id="modalLocation"></h4>
            <h4 id="modalDescription"></h4>
        </div>
    </div>

    <script type="text/javascript">

        var marker;

        $('#formButton').addListener('click', function(event) {
            //latLng will have to be changed to however we're grabbing that data
            placeMarker(event.latLng);

            // post to api, then push content to modal
            // should req a post to an api folder
                // grab data from api folder and push to modal
                    //toggle modal once done
        });

        function placeMarker(location) {
            var marker = new google.maps.Marker({
                position: location, 
                map: map
        });

        //we'll need to update the info Window content string with the variables attached to the data
        var contentString = '<div id="content">'+
            '<div id="siteNotice">' +
            '</div>' + '<div style="float:left"><img src="imgVariable"></div>'
            '<h1 id="firstHeading" class="firstHeading">'artworkNameInput'</h1>' +
            '<div id="bodyContent">' + '<p>'locationInput'<p><br>'
            '<p>'artDescriptInput'</p>' +
            '</div>' +
            '</div>';
            
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        marker.addListener('click', function() {
            infowindow.open(map, marker);
        });

        map.setCenter(location);

    <script>

</main>