<main>
 feature/file_upload
  {{!-- form to input data, we may want to put this on another page  
    <form ref='uploadForm' 
      id='uploadForm' 
      action='http://localhost:3000/upload' 
      method='post' 
      encType="multipart/form-data">
        <input type="file" name="image" />
        <input type='submit' value='Upload!' />
    </form>      --}}

    <div class="container-fluid mapWrapper">

        <div class="col-lg-2 cntr navbar-container navbar" role="header">

            <div class="navWrapper">

                {{!-- this is a dummy for now; will add drop later --}}
                <div class="row navItem" id="typeDrop" alt="enter an art type">
                    <span class="nav-text">
                        TYPE
                    </span>
                </div>

                <div class="row navItem" id="locZoom" alt="zoom to my location">
                    <span class="nav-text">
                        LOCATION
                    </span>
                </div>

                <div class="row navItem" id="otherSearch" alt="other search criteria">
                    <span class="nav-text">
                        OTHER
                    </span>
                </div>

                <div class="row navItem" id="addArt" alt="add an artwork">
                    <span class="nav-text">
                        ADD ARTWORK
                    </span>
                </div>

                <div class="row navItem" id="aboutPage" alt="about our app">
                    <span class="nav-text">
                        ABOUT
                    </span>
                </div>

                <div class="row navItem" id="apiPage" alt="api for developers">
                    <span class="nav-text">
                        API
                    </span>
                </div>

            </div>

        </div>

        <div id= "map" class="mapWrapper">
            <script>
                function initMap() {
                    var map = new google.maps.Map(document.getElementById('map'), {zoom: 8});
                    var geocoder = new google.maps.Geocoder;
                    
                    geocoder.geocode({'address': 'Toledo'}, function(results, status) {
                        if (status === 'OK') {
                            map.setCenter(results[0].geometry.location);
                            new google.maps.Marker({
                                map: map,
                                position: results[0].geometry.location
                            });

                        } else {
                            window.alert('Geocode was not successful for the following reason: ' + status);
                        }
                    });
                }
            </script>

            <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCyrCSftGam0-rKNG6IQwobVMoo5j8QauY&callback=initMap"></script>
            
        </div>

        <footer class="footer">
            <div class="container center-align no-pad-bot">
                <a href="https://github.com/saraheymann/chicago_public_art" target="_blank" class="footerLink"><h4>2017 Chicago Public Art Project</h4></a>
            </div>
        </footer>

    </div>

</main>