<main>

    <div class="container-fluid mapWrapper">

        <div class="col-lg-2 cntr navbar-container navbar" role="header">

            <div class="navWrapper">

                {{!-- this is a dummy for now; will add drop later --}}
                <div class="row navItem" id="typeDrop" alt="enter an art type">
                    <span class="nav-text">
                        TYPE
                    </span>
                </div>

                <div class="row navItem" id="locZoom" alt="zoom to my location">
                    <span class="nav-text">
                        LOCATION
                    </span>
                </div>

                <div class="row navItem" id="otherSearch" alt="other search criteria">
                    <span class="nav-text">
                        OTHER
                    </span>
                </div>

                <div class="row navItem" id="addArt" alt="add an artwork">
                    <span class="nav-text">
                        ADD ARTWORK
                    </span>
                </div>

                <div class="row navItem" id="aboutPage" alt="about our app">
                    <span class="nav-text">
                        ABOUT
                    </span>
                </div>

                <div class="row navItem" id="apiPage" alt="api for developers">
                    <span class="nav-text">
                        API
                    </span>
                </div>

            </div>

        </div>

        <div class="mapWrapper">

        </div>

        <footer class="footer">
            <div class="container center-align no-pad-bot">
                <a href="https://github.com/saraheymann/chicago_public_art" target="_blank" class="footerLink"><h4>2017 Chicago Public Art Project</h4></a>
            </div>
        </footer>

    </div>

</main>