/*Global*/
* {
	box-sizing: border-box;
}

   html, body, .mapWrapper {
	margin: 0;
	padding: 0;
	height: 100%;
}
.container-fluid{
	background-color: black;
}
.navStyle{
	background-color:black;
	margin-bottom: 0px;
}
#navHead{
	color: white;
	font-family: 'Amiko', sans-serif;
	font-size: 45px;
	margin-top: 10px;
	animation-name: example;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}
nav{
	background-color: black;
	margin-bottom: 100px;
}
#customNav{
	margin-bottom: 0px;
}
#list{
	background-color: black;
}
.linkSet{
	font-size: 20px;
}
#linkColor{
	color: white;
	margin-top: 15px;
	 margin-left: 110px; 
}
form{
	padding-bottom: 10px;
	padding-top: 20px;
	background-repeat: no-repeat;
	background-size: 100%; 
	background-position-y: -60px;
	background-image: url("https://media.giphy.com/media/26gsuWo5reMMh2Bmo/source.gif");
	border-bottom: 10px solid black;
	border-top: 5px solid black;
}
.formBorder{
	margin-left: 20px;
}
input[type=file] {
    border: 3px solid grey;
    border-radius: 4px;
}
input[type=text] {
    border: 3px solid grey;
    border-radius: 4px;
}
input[type=submit] {
    background-color:lightsalmon;
	border-radius: 4px;
	font-family: 'Amiko', sans-serif;
	color: black;
}

#map{
	height: 100%;
	margin-top: 0px;
		
}
@keyframes example {
    0%   {color: white;}
    25%  {color: peru;}
    50%  {color: pink;}
    100% {color: plum;}
}
footer{
	background-color: black;
}

.aboutContainer{
	margin-top: 30px;
	margin-bottom: 30px;
}
.aboutMessage{
	box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
	height: 100%;
	width: 600px;
	background-color: white;
	margin: auto;
	border: 5px solid black;
	padding: 30px;
	font-family:'Work Sans', sans-serif;
	margin-bottom: 30px;
}

.aboutDescript{
	font-size: 18px;
}
h4{
	font-family:'Work Sans', sans-serif;
}
#footer{
	margin-top: 10px;
	padding-top: 10px;
	bottom: 0px;
	width: 100%;
	height: 60px;
}


