/*Global*/
* {
	box-sizing: border-box;
}

   html, body, .mapWrapper {
	margin: 0;
	padding: 0;
	height: 100%;
}

/*Classes*/
.navStyle{
	background-color:black;
	margin-bottom: 0px;
}
#navHead{
	color: white;
	font-family: 'Amiko', sans-serif;
	font-size: 50px;
	margin-top: 10px;
}
.nav{
	margin-top: 10px;
}
#map{
		height: 100%;
		margin-top: 0px;
}
