/*Global*/
* {
	box-sizing: border-box;
}

   html, body, .mapWrapper {
	margin: 0;
	padding: 0;
	height: 100%;
}

/*Classes*/

.mapWrapper {
	clear: both;
	background-color: orange;
}
.navbar{
	background-color:black;
	margin-bottom: 0px:
}
#map {
		height: 100%;
		margin-top: 0px;
      }

/*Individual IDs*/



/* Queries (if needed)    */